/* 기본형 */
.btn {
  width: 130px;
  padding: 10px;

  box-sizing: border-box;
  border: 2px solid #333;
  border-radius: 4px;

  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;

  cursor: pointer;
  display: block;

  transition: 0.4s;
}

.btn:hover {
  background-color: #333;
  color: #fff;
}

/* gray형 */

.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover {
  background-color: #fff;
  color: 333;
}

/* brown형 */

.btn.btn--brown {
  border-color: #592b1b;
  color: #592b1b;
}
.btn.btn--brown:hover {
  background-color: #592b1b;
  color: #fff;
}

/* gold형 */

.btn.btn--gold {
  border-color: #d9aa8a;
  color: #d9aa8a;
}
.btn.btn--gold:hover {
  background-color: #d9aa8a;
  color: #fff;
}

/* white형 */

.btn.btn--white {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}
.btn.btn--white:hover {
  background-color: #fff;
  color: #333;
}
